@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --container-width: 1200px;

    --animation-duration: 150ms;
    
    --clr-dark: #19222e;
    --clr-light: #e3e3e3;
    --clr-primary: #f95959;
    --clr-secondary: #455d7a;

    --sz-sm: .8rem;
    --sz-md: 1rem;
    --sz-lg: 1.5rem;

    

    --brand-sz: 2rem;

    --card-border: 1px solid #bfc3c9;
    --card-border-radius: .3rem;

    --btn-border: 1px solid #bfc3c9;
    --btn-border-radius: .1rem;
    --btn-hover-clr: #eee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Default tags */
html {
	font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: var(--clr-dark);
}

a:hover {
    color: var(--clr-secondary);
    transition: color var(--animation-duration) ease-in;
}

/* Utility classes */
.container {
    max-width: var(--container-width);
    width: 100%;
    margin-inline: auto;
}

.flex {
    display: flex;
}

.overflow-hidden {
    overflow: hidden;
}

.fullscreen-bg-img {
    background-repeat: no-repeat;
    background-size: cover;
}

.fullscreen {
    height: 100%;
    width: 100%;
}

.img-cover {
    height: 100%;
    object-fit: contain;
}

[class*=to-] {
    transition: all var(--animation-duration) ease-in-out;
}

.to-top:hover {
    transform: translateY(-1rem);
}

.to-bottom:hover {
    transform: translateY(1rem);
}

.to-scaleup:hover {
    transform: scale(1.1);
}

/* Layouts */

/* Main Layout */
.layout {
    background: rgb(57,19,62);
    background: linear-gradient(350deg, rgba(57,19,62,1) 0%, rgba(19,0,22,1) 100%); 
    overflow-y: hidden;
    width: 100%;
    max-height: 100vh;
    position: relative;
}

.layout__header {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.layout__content {
    width: fit-content;
    margin-inline: auto;
}

.layout__sidebar {
    position: absolute;
    left: 0;
    bottom: 50%;
}

/* Component */

/* Header */
.header {
    background-color: var(--clr-light);
    padding: var(--sz-lg) 0;
    display: flex;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navigation */
.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-column {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;

}

.nav__item {
    color: #fff;
}

.nav__item:hover {
    color: #999;
}

.nav__toggler-close, .nav-isopen > .nav__toggler-open {
    display: none;
}

.nav__toggler-open, .nav-isopen > .nav__toggler-close {
    display: block;
}

.nav.nav-column {
    transform: translate(-5000px);
    transition: all var(--animation-duration) ease-in-out;
}

.nav.nav-column.nav-isopen {
    transform: translate(0px);
}

/* Brand */
.brand {
    color: var(--clr-dark);
    font-size: var(--brand-sz);
    font-weight: 800;
    letter-spacing: 0.1rem;
}

/* Card */
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    border: var(--card-border);
    overflow: hidden;
    border-radius: var(--card-border-radius);
}

.card__header {
    aspect-ratio: 1 / 1;
    position: relative;
}

.card__header-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card__header-title, .card__header-subtitle {
    position: absolute;
    left: var(--sz-sm);
    color: #fff;
}

.card__header-title {
    bottom: calc(var(--sz-lg) * 1.5);
    font-size: var(--sz-lg);
}

.card__header-subtitle {
    bottom: calc(var(--sz-lg) / 2);
    font-size: var(--sz-md);
}

.card__content {
    padding: var(--sz-md);
}

.card__content:has(+.card__action) {
    border-bottom: var(--card-border);
}

.card__action {
    padding: var(--sz-md);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--sz-sm);
}

/* Button */
.btn {
    padding: var(--sz-sm);
    color: var(--clr-dark);
    border: var(--card-border);
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    transition: background var(--animation-duration) ease-in;
}

.btn:hover {
    background-color: var(--btn-hover-clr);
}

.btn-icon {
    padding: var(--sz-md);
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    position: relative;
    cursor: pointer;
}

.btn-icon > i {
    position: absolute;
    font-size: 3rem;
    line-height: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

/* Fullscreen Card */
.card-fullscreen {
    position: relative;
}

.card-fullscreen__img {
    object-fit: cover;
    opacity: 0.4;
    height: 100vh;
}

.card-fullscreen__content {
    position: absolute;
    bottom: 0rem;
    left: 0;
    right: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); 
}

.card-fullscreen__title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.75rem;
}

.card-fullscreen__subtitle, .card-fullscreen__title {
    color: #fff;
}

.card-fullscreen__subtitle {
    font-size: 1rem;
    font-weight: 400;
}

.card-fullscreen__action {
    display: flex;
    gap: 1rem;
}